<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Stuart Campbell</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>0ifb1Y7p2+W0o4buBcz3oQNsAir+ggDJy3UrIAQPCWqVunlj8n3wx5ywOOFLew6f</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.9.4">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$uUHHVlm2R8DYyhS71mhgmeTn.9VT7sIY.olv0NXl5wxwaHQiD5LyO</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.8">
      <emailAddress>campbellsi@ornl.gov</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>