<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Pulls down changes from the public &lt;a href=&quot;www.github.com/mantidproject/scriptrepository&quot;&gt;scriptrepository&lt;/a&gt; and runs a script to index the contents for the Mantid ScriptRepository implementation to use.&lt;br&gt;&#xd;
&lt;br&gt;&#xd;
&lt;strong&gt;If you need to wipe out the workspace then be sure to build the job straight away to revive the contents file.&lt;/strong&gt;</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>21</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.8">
      <projectUrl>https://github.com/mantidproject/scriptrepository/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.25"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/mantidproject/scriptrepository</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.8">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Build json file that contains info about the repository
python $WORKSPACE/system/scriptrepositoryparser.py $WORKSPACE/ $WORKSPACE/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.11"/>
  </buildWrappers>
</project>